<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Template</title>
    <link rel="stylesheet" href="/full stack template mayan/public/style.css">
</head>
<body>
    



<h1>What should I do today?</h1>

<h2>As an early-career Software Developer</h2>



<form action="/quotes" method="POST">
    <input type="text" placeholder="Action" name="action">
    <button type="submit">Submit</button>
  </form>

  <div>
    <h2>The REACT Push</h2>
    <p>
        Replace actions with Learning React!
    </p>
    <button id="update-button">MOAR REACT</button>
  </div>
  
  <h2> ACTIONS </h2>



<!-- <ul>
    <li>git init</li>
    <li>heroku login</li>
    <li>heroku create</li>
    <li>echo 'web: node server.js' > Procfile</li>
    <li>git add . </li>
    <li>git commmit -m 'changes'</li>
    <li>git push heroku main</li>
</ul> -->
<div id="message"></div>
<script src="/full stack template mayan/public/main.js"></script>
</body>
</html>